@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
    font-family: 'Syncopate', sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
    background-color: black;
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

h1 {
    font-size: 45px;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: coral;
    transition: 0.2s;
}

.index p {
    transform: translateY(-70%);
}

#social-media a {
    width: 40px;
    font-size: 30px;
    line-height: 5px;
    padding: 5px;
    display: inline-block;
}

#box {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    color: white;
    border: 0;
    background: none;
    font-size: 2vh;
}

button:hover {
    color: coral;
    transition: 0.2s;
    cursor: pointer;
}

#stopButton {
    display: none;
}

/* Media queries */

@media (min-width: 320px) and (max-width: 1080px) {
    #playButton, #stopButton {
        font-size: 18px;
    }
}